div(class="border-[1px] rounded-[20px] px-[24px] pt-[20px] lg:hidden")
     div(class="flex justify-between items-center")
          div(class="font-[400] text-[20px] text-[#000000]") Lọc
          i(class="fas fa-sliders text-[24px]")
     //- div(class="border border-[1px] border-[#0000001A] my-[24px]")
     //- ul(class="flex flex-col gap-y-[20px] text-[16px] text-[#00000099] font-[400]")
          li(class="flex justify-between items-center")
               a(href="") Áo thun
               i(class="fa-solid fa-chevron-right text-[16px]")
          li(class="flex justify-between items-center")
               a(href="") Quần ngắn
               i(class="fa-solid fa-chevron-right text-[16px]")
          li(class="flex justify-between items-center")
               a(href="") Áo sơ-mi
               i(class="fa-solid fa-chevron-right text-[16px]")
          li(class="flex justify-between items-center")
               a(href="") Áo trùm đầu
               i(class="fa-solid fa-chevron-right text-[16px]")
          li(class="flex justify-between items-center")
               a(href="") Quần Jeans
               i(class="fa-solid fa-chevron-right text-[16px]")
     div(class="border border-[1px] border-[#0000001A] my-[24px]")
     div(class=`truncate`)
          div(class="flex justify-between items-center")
               div(class="font-[400] text-[20px] text-[#000000]") Giá
               i(class="fa-solid fa-chevron-up text-[16px]")
          div(class="flex flex-col items-center  mt-[20px]")
               div(class=`grid grid-cols-2 gap-x-[10px] p-[10px]`) 
                    sl-input(class=`` size='small' type='number' filter-price-min placeholder='Từ...')
                    sl-input(class=`` size='small' type='number' filter-price-max placeholder='Đến...')
     div(class="border border-[1px] border-[#0000001A] my-[24px]")
     div
          div(class="flex justify-between items-center pb-[20px]")
               div(class="font-[400] text-[20px] text-[#000000]") Màu
               i(class="fa-solid fa-chevron-up text-[16px]")
          div(class="grid grid-cols-5 gap-[10px]" list-color)
               - if(listColors && listColors.length > 0)
                    each color in listColors
                         sl-tooltip(content=color.name)
                              input(type="radio" name="color", class=`radio w-[30px] h-[30px] bg-[${color.code}] checked:bg-[${color.code}]` slug = color.slug)
     div
          div(class="border border-[1px] border-[#0000001A] my-[24px]")
          div(class="flex justify-between items-center pb-[20px]")
               div(class="font-[400] text-[20px] text-[#000000]") Kích thước
               i(class="fa-solid fa-chevron-up text-[16px]")
          div(class="flex flex-col gap-y-[8px] truncate")
               - if(listSizes && listSizes.length > 0)
                    sl-radio-group(class="flex gap-3 mb-[26px] flex-wrap" filter-size)
                         each size in listSizes
                              sl-radio-button(class="mr-[12px] mb-[12px] flex justify-center items-center" value = size.slug)
                                   div(class="text-[16px]") #{size.name}
               //- span(class="w-[65px] h-[38px] font-[400] text-[14px] text-[#00000099] bg-[#F0F0F0] rounded-[62px] flex items-center justify-center") XXS
               //- span(class="w-[57px] h-[38px] font-[400] text-[14px] text-[#00000099] bg-[#F0F0F0] rounded-[62px] flex items-center justify-center") XS
               //- span(class="w-[48px] h-[38px] font-[400] text-[14px] text-[#00000099] bg-[#F0F0F0] rounded-[62px] flex items-center justify-center") S
               //- span(class="w-[52px] h-[38px] font-[400] text-[14px] text-[#00000099] bg-[#F0F0F0] rounded-[62px] flex items-center justify-center") M
               //- span(class="w-[48px] h-[38px] font-[400] text-[14px] text-[#FFFFFF] bg-[#000000] rounded-[62px] flex items-center justify-center") L
               //- span(class="w-[56px] h-[38px] font-[400] text-[14px] text-[#00000099] bg-[#F0F0F0] rounded-[62px] flex items-center justify-center") XL
               //- span(class="w-[65px] h-[38px] font-[400] text-[14px] text-[#00000099] bg-[#F0F0F0] rounded-[62px] flex items-center justify-center") XXL
               //- span(class="w-[64px] h-[38px] font-[400] text-[14px] text-[#00000099] bg-[#F0F0F0] rounded-[62px] flex items-center justify-center") 3XL
               //- span(class="w-[64px] h-[38px] font-[400] text-[14px] text-[#00000099] bg-[#F0F0F0] rounded-[62px] flex items-center justify-center") 4XL
     div(class="border-[1px] border-[#0000001A] my-[24px]")
     //- div(class="pb-[24px]")
          div(class="flex justify-between items-center pb-[20px]")
               div(class="font-[400] text-[20px] text-[#000000]") Kiểu váy
               i(class="fa-solid fa-chevron-up text-[16px]")
          ul(class="flex flex-col gap-y-[20px] text-[16px] text-[#00000099] font-[400]")
               li(class="flex justify-between items-center")
                    a(href="") Giản dị
                    i(class="fa-solid fa-chevron-right text-[16px]")
               li(class="flex justify-between items-center")
                    a(href="") Trang trọng
                    i(class="fa-solid fa-chevron-right text-[16px]")
               li(class="flex justify-between items-center")
                    a(href="") Tiệc tùng
                    i(class="fa-solid fa-chevron-right text-[16px]")
               li(class="flex justify-between items-center")
                    a(href="") Thể thao
                    i(class="fa-solid fa-chevron-right text-[16px]")
     div(class="flex flex-col justify-center gap-y-[20px]")
          button(class="w-full py-[15px] bg-[#000000] text-[#FFFFFF] font-[400] text-[14px] rounded-[62px] flex-1" btn-filter) Lọc
          button(class="" reset-filter) Reset
