/* .animation-sandbox .box {
  width: 100px;
  height: 100px;
  background-color: var(--sl-color-primary-600);
}

.animation-sandbox .controls {
  max-width: 300px;
  margin-top: 2rem;
}

.animation-sandbox .controls sl-select {
  margin-bottom: 1rem;
} */
