div(class=`hidden z-[9999999] bg-[white] h-screen w-screen absolute left-0 z-[100] opacity-[90%]` wait-load)
    div(class=`flex items-center justify-center h-full`)
        div(class="col-3")
            div(class="snippet", data-title="dot-pulse")
                div(class="stage")
                    div(class="dot-pulse")