include ../mixins/sider.mixin.pug

nav(class="menu menu-sm h-full text-[#939398]")
     div(sider class=`bg-[transparent] h-full flex flex-col gap-y-[20px] [&>*]:py-[20px]`)
          +sider-mixin(siderArray)

